<div>
    <div>
        <img class="avatar-modal" ng-if="group.image != null" ng-src="{{webServer}}/timthumb.php?src={{group.image}}&h=60&w=60" style="border-radius:50%;"/>
        <img class="avatar-modal" ng-if="group.image == null" src="img/img.jpg" height="60" width="60"  style="border-radius:50%;"/>
        <p style="display:inline; margin-left:10px;" ng-if="group.name != null"> {{group.name}} </p>
        <p style="display:inline; margin-left:10px;" ng-if="group.name == null"> {{group.displayname}} </p>
    </div>

    <hr>
    
    <ion-list class="members-list">

        <div ng-show=" roomType==0 || roomType==2 " style="margin-top:-25px;">
            <p style="margin-top:-13px; display:inline; line-height:50px;"> Members </p>
            <md-button class="md-icon-button" style="position:absolute; margin-left:215px; margin-top:5px;" ng-show="roomType==2" ng-click="invite($event)">
                <i class="material-icons">add</i>
            </md-button>
            <md-button class="md-icon-button" style="position:absolute; margin-left:255px; margin-top:5px;" ng-show="roomType==2" ng-click="editGroup($event)">
                <i class="material-icons">settings</i>
            </md-button>
            <ion-item class="item-remove-animate item-avatar item-icon-right" 
            ng-repeat="member in members|orderObjectBy:'displayname':false|filter:search track by $index" type="item-text-wrap" ng-click="openContactModal(member._id)" style="border-style: solid none;">
                <img ng-src="{{webServer}}/timthumb.php?src={{member.image}}&h=40&w=40" />
                <div ng-if="chatGroup.type==privateIndex || chatGroup.type==orgGroupsIndex">
                    <h2>{{member.displayname}}</h2>
                    <p>{{member.status}}</p>
                </div>
            </ion-item>
        </div>

        <div ng-show=" roomType==1 " style="margin-top:-25px;">
            <p style="margin-top:-13px; display:inline; line-height:50px;"> Members </p>
            <md-button class="md-icon-button" style="position:absolute; margin-left:215px; margin-top:5px;" ng-click="invite($event)" ng-if="meIsAdmin">
                <i class="material-icons">add</i>
            </md-button>
            <md-button class="md-icon-button" style="position:absolute; margin-left:255px; margin-top:5px;" ng-click="editGroup($event)" ng-if="meIsAdmin">
                <i class="material-icons">settings</i>
            </md-button>
            <ion-item class="item-remove-animate item-avatar item-icon-right" 
            ng-repeat="member in members|orderObjectBy:'displayname':false track by $index" type="item-text-wrap" ng-click="openContactModal(member._id)" style="border-style: solid none;" ng-show="member._id != null">
                <img ng-src="{{webServer}}/timthumb.php?src={{member.image}}&h=40&w=40" />
                <h2>{{member.displayname}}</h2>
                <p style="float:right; position:absolute; right:5px;" ng-show="member.role!=0 && member.role!=1">{{member.role}}</p>
                <p style="float:right; position:absolute; right:5px;" ng-show="member.role==0 || member.role==1">{{member.textRole}}</p>
                <p>{{member.jobPosition}}</p>
            </ion-item>
        </div>

        <div ng-show=" roomType==3 ">
            <p style="margin-top:-13px; text-align:center;"> {{group.displayname}}'s Profile </p>
            <div class="list">
                <label class="item item-input">
                    <div class="input-label"> Display </div>
                    <p>{{group.displayname}}</p>
                    <!-- <input type="text" value="{{member.displayname}}" id="viewprofile-input-display" disabled style="background:none;"> -->
                </label>

                <label class="item item-input">
                    <div class="input-label"> Status </div>
                    <p>{{group.status}}</p>
                    <!-- <input type="text" value="{{member.status}}" id="viewprofile-input-status" disabled style="background:none;"> -->
                </label>

                <label class="item item-input">
                    <div class="input-label"> Name </div>
                    <p>{{group.firstname}} {{group.lastname}}</p>
                    <!-- <input type="text" value="{{member.firstname}} {{member.lastname}}" disabled style="background:none;"> -->
                </label>

                <label class="item item-input">
                    <div class="input-label"> User Level </div>
                    <p>{{group.role}}</p>
                    <!-- <input type="text" value="{{member.role}}" disabled style="background:none;"> -->
                </label>

                <label class="item item-input">
                    <div class="input-label"> Tel. </div>
                    <p>{{group.tel}}</p>
                    <!-- <input type="text" value="{{member.tel}}" disabled style="background:none;"> -->
                </label>

                <label class="item item-input">
                    <div class="input-label"> Email </div>
                    <p>{{group.mail}}</p>
                    <!-- <input type="text" value="{{member.mail}}" disabled style="background:none;"> -->
                </label>
            </div>
        </div>


    </ion-list>
        
</div>