

<!-- <div ui-view="chats-header" style="border: 1px solid #E3E3E3; margin-top:-5px; height:50px;">
	<p style="text-align:center; font-size:20px; line-height:50px;"> {{currentRoom.name}} </p>
</div>  -->

<div id="webchatdetail" style="width:100%; height:100%;">
	<div>
		<div ng-controller="FileController">
			<div ng-controller="ImageController">
				<div ng-controller="VoiceController">
					<div ng-controller="VideoController">
						<div ng-show="showLoadMessage">
							<md-button class="md-raised md-primary md-hue-3" 
                                       ng-click="loadOlderMessage()">Show more message!</md-button>
							<md-divider md-inset></md-divider> 
						</div>  
						
						<div ng-show="isLoadingMessage">
							<md-subheader class="md-primary">Loading messages</md-subheader>
							<md-progress-linear md-mode="indeterminate" class="md-hue-3"></md-progress-linear>
						</div>

						<ion-list class="message-list" ng-repeat="message in chat track by $index">
							<ion-item ng-if="message.firstMsg != undefined" style="text-align:center;">
								<div style="font-size:12px;"> {{message.firstMsg}} </div>
							</ion-item>

							<!-- @Incomings message. -->
							<ion-item ng-if="message.sender != myprofile._id && !!message.sender"
							    class="other item-remove-animate item-avatar item-icon-right" 
							    type="item-text-wrap" style="white-space:normal !important;">
								<img ng-src="{{webServer}}/timthumb.php?src={{allMembers[message.sender]['image']}}&h=40&w=40" />
								<h2>{{allMembers[message.sender]['displayname']}}</h2>
								</br>

								<!-- Text type label. -->
								<p id="{{message._id}}" ng-if="message.type=='Text' && !isValidURI(message.body)">
									{{message.body}}
								</p>
								<!-- Text URL type label. -->
								<p id="{{message._id}}" ng-if="message.type=='Text' && isValidURI(message.body)">
									<u ng-click="webview(message.body)">
										{{message.body}}
									</u>
								</p>
								<!-- File type label. -->
								<p id="{{message._id}}" ng-if="message.type=='File'"> 
									<a href="{{message.url}}" target="_blank">{{message.name}}</a>
								</p>

								<!-- Image type label. -->
								<img id="{{message._id}}" class="type-img" ng-if="message.type=='Image'" 
                                     ng-src="{{webServer}}{{message.body}}" 
                                     ng-click="viewImageWeb($event, message.type, message.body)"/>
    
								<!-- Sticker type label. -->
								<img class="type-img" ng-if="message.type=='Sticker'" ng-src="stickers/sticker{{message.body}}.png" />
								
								<!-- Voice type label. -->
								<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice'">
									<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,message.body)"></i>
									<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
								</div>
									
								<!-- Video type label. -->
								<div class="type-video" ng-if="message.type=='Video' && message.temp==null" ng-click="openVideoWeb($event,message.type,message.body)" 
									style="background-image: url({{ message.thumbnail }}); background-repeat: no-repeat; background-position: center center; background-size:contain;">
									<div style="margin-left:10px;">
										<i class="ion-ios-play" style="line-height: 160px;  padding:0px 13px; border-radius:50%; background-color:gray;"></i>
									</div>
								</div>


							
								<div class="type-location" ng-if="message.type == 'Location'" ng-click="viewLocation(message._id)">
									<div>
										<div class="item item-text-wrap">
											{{message.locationName}}     
											<br /> {{message.locationAddress}}
											<br /> {{message.lat}} , {{message.long}}
										</div>s
									</div>
								</div>
								

								<div id="{{message._id}}-downloaded" class="hide">
									<div id="{{message._id}}-download-contain" class="download-contain"><div id="{{message._id}}-download-progress" class="download-bar"></div></div>
								</div>

								</br>
								<label>{{message.time}}</label>
							</ion-item>

							<!-- @Outcomings message. -->
							<ion-item ng-if="message.sender == myprofile._id" 
							class="owner item-remove-animate item-icon-right" type="item-text-wrap" 
							style="white-space:normal !important;">
								<label style="clear:none; cursor:pointer;" 
								ng-show="message.readers != null && message.readers.length != 0" 
								ng-click="viewReader(message.readers)">read {{message.readers.length}}
								</label> 

								<div id="{{message._id}}-resend" class="hide" style="font-size:10px;" ng-click="resend(message.body,message._id)"> Resend </div>

								<div id="{{message._id}}-downloaded" class="hide">
									<i class="ion-ios-close" style="margin-right:5px; float:left;" ng-click="sentCancel(message._id)"></i>
									<div id="{{message._id}}-download-contain" class="download-contain"><div id="{{message._id}}-download-progress" class="download-bar"></div></div>
								</div>
							
								<p id="{{message._id}}" ng-if="message.type=='Text' && !isValidURI(message.body)">
									{{message.body}}
								</p>
								<p id="{{message._id}}" ng-if="message.type=='Text' && isValidURI(message.body)">
									<u ng-click="webview(message.body)">
										{{message.body}}
									</u>
								</p>

								<p id="{{message._id}}" ng-if="message.type=='File' && message.temp=='true'" ng-init="uploadFile(message._id)"> 
									{{message.body}}
								</p>
								<p id="{{message._id}}" ng-if="message.type=='File'"> 
									<a href="{{message.url}}" target="_blank">{{message.name}}</a>
								</p>
								
								<img class="type-img" ng-if="message.type=='Image' && message.temp=='true'" ng-init="uploadImage(message._id)" ng-src="{{message.body}}" ng-click="viewImageWeb($event,message.type,message.body)"/>
								<img class="type-img" ng-if="message.type=='Image' && message.temp==null" ng-src="{{webServer}}{{message.body}}"
								ng-click="viewImageWeb($event,message.type,{{webServer}}+message.body)"/>

								<img class="type-img" ng-if="message.type=='Sticker'" ng-src="stickers/sticker{{message.body}}.png" />

								<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice' && message.temp=='true'" ng-init="uploadVoice(message._id)">
									<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id, message.body)"></i>
									<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
								</div>
								<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice' && message.temp==null">
									<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id, message.body)"></i>
									<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
								</div>

								<div class="type-video" ng-if="message.type=='Video' && message.temp=='true'" ng-init="uploadVideo(message._id)">
									<video id="{{message._id}}" src="{{message.body}}" controls="controls" preload="metadata"></video>
								</div>
								<div class="type-video" ng-if="message.type=='Video' && message.temp==null" ng-click="openVideoWeb($event,message.type,message.body)" 
								style="background-image: url({{ message.thumbnail }}); background-repeat: no-repeat; background-position: center center; background-size:contain;">
									<div style="margin-left:10px;">
										<i class="ion-ios-play" style="line-height: 160px;  padding:0px 13px; border-radius:50%; background-color:gray;"></i>
									</div>
								</div>							
								
								<div class="type-location" ng-if="message.type == 'Location'" ng-click="viewLocation(message._id)">
									<div>
										<div class="item item-text-wrap">
											{{message.locationName}}     
											<br /> {{message.locationAddress}}
											<br /> {{message.lat}} , {{message.long}}
										</div>
									</div>
								</div>
										
								<br />
								<label ng-if="message.temp != 'true' "> {{message.time}}</label>
							</ion-item>
						</ion-list>

						<form id="UploadForm" style="position: absolute; top:-1000px;">
							<input type="file" name="fileToUpload" id="fileToUpload" onchange="angular.element(this).scope().onGetFileSelect()">
						</form>

						<form id="UploadAvatar" style="position: absolute; top:-1000px;">
							<input type="file" name="fileToUpload" id="avatarToUpload" onchange="angular.element(this).scope().onGetAvatarSelect()">
						</form>


						<audio id="audio" style="position: absolute; top:-1000px;" controls>
							<source src="">
						</audio>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- @Chat Typings Bar -->
<ion-footer-bar id="chatMessage" align-title="left" class="bar-light" style="box-shadow:0 0 0 1px #ccc; position:absolute; display:none;">
	<div class="buttons">
		<button ng-disabled="inactive" ng-click="openModal()" class="button button-clear" style="font-size:20px; padding:0 20px;"><i class="ion-ios-plus-outline"></i></button>
	</div>

	<input ng-disabled="inactive" ng-show="inactive!=true" id="send_message" type="text" name="send_message" style="width:100%; height:33px; padding:0 10px; box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;" />
	<input ng-disabled="inactive" ng-show="inactive==true" id="send_message" type="text" name="send_message" style="width:100%; height:33px; padding:0 10px; box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;" value="This is Empty Room" />

	<div class="buttons">
		<button ng-disabled="inactive" id="sendMsg" class="button button-clear" style="width:76px; font-size:20px; padding:0 20px;"><i class="ion-share" data-pack="default" data-tags="outbound"></i></button>
	</div>
</ion-footer-bar>












