<md-dialog aria-label="Map" ng-controller="mapController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 ng-if="viewOnly == true" class="title">Map Viewer</h1>
            <h1 ng-if="viewOnly == false" class="title">Share Location</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeMapModal()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="height:600px;">
            <map id="map" data-tap-disabled="true"
                 lat="{{latitude}}" lng="{{longitude}}"
                 zoom="16" selected-place="selectedPlace(data)"
                 style="width:600px; height:100%;">
            </map>
          </div>
    </md-dialog-content>
    <md-dialog-actions>
        <h5 class="md-title">Location:  {{place}}</h5>
        <span flex></span>
        <md-button ng-if="viewOnly == false"  ng-click="share()" class="md-primary">
            Share
        </md-button>
    </md-dialog-actions>
</md-dialog>