

<md-dialog aria-label="My Profile" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>My Profile</h2>
        <span flex></span>
        <md-button ng-click="save()" 
                   ng-if="imageSource()==true ||
                    myProfile.displayname != model.displayname ||
                    myProfile.status != model.status ||
                   myProfile.tel != model.tel">
          Save
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" style="min-width:480px; overflow-x:hidden;" layout="column" layout-fill>      
          <div layout="row" layout-align="center center">
              <div layout-align="center center">
                <img id="avatar" class="md-avatar" ng-click="image()"
                     ng-src="{{webServer}}/timthumb.php?src={{myProfile.image}}&h=128&w=128"
                     style="border-radius:50%;width:128px;height:128px;" />
                <br />
                <label style="padding:10px;">Upload your photo!</label>
            </div>
          </div>
         
          <form name="MyProfile">
            <md-input-container class="md-block">
              <label>Display</label>
              <input ng-model="model.displayname">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Status</label>
              <input ng-model="model.status">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Name</label>
              <input value="{{myProfile.firstname}} {{myProfile.lastname}}" disabled>
            </md-input-container>

            <md-input-container class="md-block">
              <label>User Level</label>
              <input value="{{myProfile.role}}" disabled>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Tel.</label>
                <input ng-model="model.tel">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Email</label>
              <input value="{{myProfile.mail}}" disabled>
            </md-input-container>
          </form>
      </div>
    </md-dialog-content>
</md-dialog>