<!-- <ion-modal-view>
    <ion-header-bar>
      <button class="button button-clear icon ion-android-close" ng-click="closeImage()"></button>
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content scroll="false" class="modal-img-view" >
      <img src="{{modalImage.src}}">
    </ion-content>

    <div class="bar bar-footer">
      <div class="title"></div>
      <button class="button button-balanced" ng-click="saveFile(modalImage.type,modalImage.src)"> Save </button>
    </div>

</ion-modal-view> -->

<md-dialog aria-label="Image" ng-cloak>
  <form>
    <md-dialog-content >
          <img src="{{imageSrc}}" style="max-width:100%; max-height: 100%">
    </md-dialog-content>
  </form>
</md-dialog>