<!-- <ion-modal-view >
    <ion-header-bar class="bar-positive">
        <h1 class="title"> {{myProfile.displayname}}'s Profile </h1>

        <div class="button button-clear" ng-click=""> Save </div>
    </ion-header-bar>



    <ion-content class="padding" scroll="false">

        <div style="height:150px; text-align:center; margin-bottom:10px;">
            <img class="avatar-modal" ng-src="{{webServer}}/timthumb.php?src={{myProfile.image}}&h=150&w=150" style="border-radius:50%;"/>
        </div>

         <div class="list">
        <label class="item item-input">
            <div class="input-label"> Display </div>
            <input type="text" value="{{myProfile.displayname}}" id="viewprofile-input-display" style="background:none; height:30px;" >
        </label>
        
        <label class="item item-input">
            <div class="input-label"> Status </div>
            <input type="text" value="{{myProfile.status}}" id="viewprofile-input-status" style="background:none; height:30px;" >
        </label>
        
        <label class="item item-input">
            <div class="input-label"> Name </div>
            <input type="text" value="{{myProfile.firstname}} {{myProfile.lastname}}" disabled style="background:none; height:30px;">
        </label>
        
        <label class="item item-input">
            <div class="input-label"> User Level </div>
            <input type="text" value="{{myProfile.role}}" disabled style="background:none; height:30px;">
        </label>
        
        <label class="item item-input">
            <div class="input-label"> Tel. </div>
            <input type="text" value="{{myProfile.tel}}" disabled style="background:none; height:30px;">
        </label>
        
        <label class="item item-input">
            <div class="input-label"> Email </div>
            <input type="text" value="{{myProfile.mail}}" disabled style="background:none; height:30px;">
        </label>
      </div>

    </ion-content>
</ion-modal-view> -->

<md-dialog aria-label="My Profile" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>My Profile</h2>
        <span flex></span>
        <md-button ng-click="save()" ng-if="imageSource()==true || myProfile.displayname != model.displayname || myProfile.status != model.status">Save</md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="overflow-x: hidden; overflow-y: hidden; ">
      <div class="md-dialog-content" style="width:500px;">
        

        <div style="height:150px; text-align:center; margin-bottom:10px;" >
            <img id="avatar" class="avatar-modal" ng-src="{{webServer}}/timthumb.php?src={{myProfile.image}}&h=150&w=150"  style="border-radius:50%;width:150px;height:150px;" ng-click="image()"/>
        </div>

      <form name="MyProfile">
        <md-input-container class="md-block">
          <label>Display</label>
          <input ng-model="model.displayname">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Status</label>
          <input ng-model="model.status">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Name</label>
          <input value="{{myProfile.firstname}} {{myProfile.lastname}}" disabled>
        </md-input-container>

        <md-input-container class="md-block">
          <label>User Level</label>
          <input value="{{myProfile.role}}" disabled>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Tel.</label>
          <input value="{{myProfile.tel}}" disabled>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Email</label>
          <input value="{{myProfile.mail}}" disabled>
        </md-input-container>
      </form>

    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions> -->
  </form>

</md-dialog>