<md-dialog aria-label="Readers" ng-controller="readersDialogController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="title">Readers</h1>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeReaderModal()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="min-width:480px;">
            <md-list>
                <md-list-item class="md-2-line md-long-text" ng-repeat="user in readers">
                    <img ng-if="user.image != null" ng-src="{{webServer}}/timthumb.php?src={{user.image}}&h=60&w=60" class="md-avatar" />
                    <img ng-if="user.image == null" ng-src="img/img.jpg" class="md-avatar" />
                    <div class="md-list-item-text">
                        <h3>{{user.displayname}}</h3>
                        <p>{{user.status}}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
</md-dialog>