<!--style="position:fixed; top:initial; box-shadow:0 2px 0 -1px rgba(0,0,0,0.1) inset; min-height:inherit; height:272px; bottom:0px;"-->
<div id="stickerContain" style="background-color:gainsboro;">
	<div>
		<div class="stickerhead">
			<div onclick="$('.stickerhead > *').css({'opacity':'0.2'}); $(this).css({'opacity':'1'}); $('.stickertab').css({'display':'none'}); $('.stickertab-0').css({'display':'inline-block'}); $('.scroll').css({'-webkit-transform':'translate3d(0px, 0px, 0px) scale(1)'});" style="background-image:url(stickers/sticker0.png); opacity:1;"></div>
			<div onclick="$('.stickerhead > *').css({'opacity':'0.2'}); $(this).css({'opacity':'1'}); $('.stickertab').css({'display':'none'}); $('.stickertab-1').css({'display':'inline-block'}); $('.scroll').css({'-webkit-transform':'translate3d(0px, 0px, 0px) scale(1)'});" style="background-image:url(stickers/sticker9.png);"></div>
			<div onclick="$('.stickerhead > *').css({'opacity':'0.2'}); $(this).css({'opacity':'1'}); $('.stickertab').css({'display':'none'}); $('.stickertab-2').css({'display':'inline-block'}); $('.scroll').css({'-webkit-transform':'translate3d(0px, 0px, 0px) scale(1)'});" style="background-image:url(stickers/sticker13.png);"></div>
			<div onclick="$('.stickerhead > *').css({'opacity':'0.2'}); $(this).css({'opacity':'1'}); $('.stickertab').css({'display':'none'}); $('.stickertab-3').css({'display':'inline-block'}); $('.scroll').css({'-webkit-transform':'translate3d(0px, 0px, 0px) scale(1)'});" style="background-image:url(stickers/sticker23.png);"></div>
			<div onclick="$('.stickerhead > *').css({'opacity':'0.2'}); $(this).css({'opacity':'1'}); $('.stickertab').css({'display':'none'}); $('.stickertab-4').css({'display':'inline-block'}); $('.scroll').css({'-webkit-transform':'translate3d(0px, 0px, 0px) scale(1)'});" style="background-image:url(stickers/sticker33.png);"></div>
		</div>	
	</div>
	<div>
		<div class="stickertab stickertab-0" style="display:inline-block;">
			<div style="background-image:url(stickers/sticker0.png);" ng-click="sendSticker(0)"></div>			
			<div style="background-image:url(stickers/sticker1.png);" ng-click="sendSticker(1)"></div>				
			<div style="background-image:url(stickers/sticker2.png);" ng-click="sendSticker(2)"></div>				
			<div style="background-image:url(stickers/sticker3.png);" ng-click="sendSticker(3)"></div>				
			<div style="background-image:url(stickers/sticker4.png);" ng-click="sendSticker(4)"></div>				
			<div style="background-image:url(stickers/sticker5.png);" ng-click="sendSticker(5)"></div>				
			<div style="background-image:url(stickers/sticker6.png);" ng-click="sendSticker(6)"></div>				
			<div style="background-image:url(stickers/sticker7.png);" ng-click="sendSticker(7)"></div>				
			<div style="background-image:url(stickers/sticker8.png);" ng-click="sendSticker(8)"></div>					
		</div>
		<div class="stickertab stickertab-1">
			<div style="background-image:url(stickers/sticker9.png);" ng-click="sendSticker(9)"></div>			
			<div style="background-image:url(stickers/sticker10.png);" ng-click="sendSticker(10)"></div>			
			<div style="background-image:url(stickers/sticker11.png);" ng-click="sendSticker(11)"></div>			
			<div style="background-image:url(stickers/sticker12.png);" ng-click="sendSticker(12)"></div>			
		</div>	
		<div class="stickertab stickertab-2">
			<div style="background-image:url(stickers/sticker13.png);" ng-click="sendSticker(13)"></div>			
			<div style="background-image:url(stickers/sticker14.png);" ng-click="sendSticker(14)"></div>			
			<div style="background-image:url(stickers/sticker15.png);" ng-click="sendSticker(15)"></div>			
			<div style="background-image:url(stickers/sticker16.png);" ng-click="sendSticker(16)"></div>			
			<div style="background-image:url(stickers/sticker17.png);" ng-click="sendSticker(17)"></div>			
			<div style="background-image:url(stickers/sticker18.png);" ng-click="sendSticker(18)"></div>			
			<div style="background-image:url(stickers/sticker19.png);" ng-click="sendSticker(19)"></div>			
			<div style="background-image:url(stickers/sticker20.png);" ng-click="sendSticker(20)"></div>			
			<div style="background-image:url(stickers/sticker21.png);" ng-click="sendSticker(21)"></div>			
			<div style="background-image:url(stickers/sticker22.png);" ng-click="sendSticker(22)"></div>			
		</div>	
		<div class="stickertab stickertab-3">
			<div style="background-image:url(stickers/sticker23.png);" ng-click="sendSticker(23)"></div>			
			<div style="background-image:url(stickers/sticker24.png);" ng-click="sendSticker(24)"></div>			
			<div style="background-image:url(stickers/sticker25.png);" ng-click="sendSticker(25)"></div>			
			<div style="background-image:url(stickers/sticker26.png);" ng-click="sendSticker(26)"></div>			
			<div style="background-image:url(stickers/sticker27.png);" ng-click="sendSticker(27)"></div>			
			<div style="background-image:url(stickers/sticker28.png);" ng-click="sendSticker(28)"></div>			
			<div style="background-image:url(stickers/sticker29.png);" ng-click="sendSticker(29)"></div>			
			<div style="background-image:url(stickers/sticker30.png);" ng-click="sendSticker(30)"></div>			
			<div style="background-image:url(stickers/sticker31.png);" ng-click="sendSticker(31)"></div>			
			<div style="background-image:url(stickers/sticker32.png);" ng-click="sendSticker(32)"></div>			
		</div>	
		<div class="stickertab stickertab-4">
			<div style="background-image:url(stickers/sticker33.png);" ng-click="sendSticker(33)"></div>			
			<div style="background-image:url(stickers/sticker34.png);" ng-click="sendSticker(34)"></div>			
			<div style="background-image:url(stickers/sticker35.png);" ng-click="sendSticker(35)"></div>			
			<div style="background-image:url(stickers/sticker36.png);" ng-click="sendSticker(36)"></div>			
			<div style="background-image:url(stickers/sticker37.png);" ng-click="sendSticker(37)"></div>			
			<div style="background-image:url(stickers/sticker38.png);" ng-click="sendSticker(38)"></div>			
			<div style="background-image:url(stickers/sticker39.png);" ng-click="sendSticker(39)"></div>			
			<div style="background-image:url(stickers/sticker40.png);" ng-click="sendSticker(40)"></div>			
			<div style="background-image:url(stickers/sticker41.png);" ng-click="sendSticker(41)"></div>			
			<div style="background-image:url(stickers/sticker42.png);" ng-click="sendSticker(42)"></div>			
		</div>	
	</div>
</div>