ChitChat_cordova/node_modules/
ChitChat_cordova/bld/
ChitChat_cordova/bin/
.vs/
*.bak
ChitChat_cordova/ChitChat_cordova.jsproj
ChitChat_cordova/.vs/
ChitChat_cordova/chitchat.cordova.jsproj.user
packages/
ChitChat_cordova/platforms
ChitChat_cordova/platforms/platforms.json
ChitChat_cordova/plugins/
.DS_Store
*.map
.vscode/tasks.json
ChitChat_cordova/scripts/www/scripts/appBundle.js
ChitChat_cordova/www/templates/tab-group.html.orig
ChitChat_cordova/www/templates/tab-group-viewprofile.html.orig
ChitChat_cordova/www/templates/tab-group-members.html.orig
ChitChat_cordova/www/templates/tab-group-members-edit.html.orig
ChitChat_cordova/www/templates/tab-chats.html.orig
ChitChat_cordova/www/templates/tab-account-invite.html.orig
ChitChat_cordova/www/templates/tab-account-create.html.orig
ChitChat_cordova/www/templates/reader-view.html.orig
ChitChat_cordova/www/templates/modal-projectbasegroup.html.orig
ChitChat_cordova/www/templates/modal-privategroup.html.orig
ChitChat_cordova/www/templates/modal-orggroup.html.orig
ChitChat_cordova/www/templates/modal-myprofile.html.orig
ChitChat_cordova/www/templates/modal-contact.html.orig
