ChitChat_cordova/node_modules/
ChitChat_cordova/bld/
ChitChat_cordova/platforms/
ChitChat_cordova/plugins/
ChitChat_cordova/bin/
.vs/ChitChat_cordova/v14/
*.bak
ChitChat_cordova/ChitChat_cordova.jsproj
ChitChat_cordova/.vs/ChitChat/v14/.suo
