ChitChat_cordova/node_modules/
ChitChat_cordova/platforms/
ChitChat_cordova/plugins/
ChitChat_cordova/bin/
ChitChat_cordova/bld/
ChitChat_cordova/.vs/
ChitChat_cordova/ChitChat_cordova.jsproj
ChitChat_cordova/ChitChat_cordova.jsproj.user
.vs/
.DS_Store
*.bak
ChitChat_cordova.sln