body { background-color:#519cd3; max-width:100%; overflow:hidden; }
body > .row, body > .row-fluid { display:inline-table; width:100%; }
body > * { float:left; }
a:hover { text-decoration:none; }

* { font-size:14px; line-height:22px; }

.center { text-align:center; }
.text-white { color:#fff; }

#login { height:100vh; 
	background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax (must be last) */ }
#login .container { max-width:600px; margin-top:10vh; }
#login .container form { max-width:300px; margin:30px auto 0; }
#login .message { line-height:30px; margin:5px 0 0; font-weight:normal; opacity:0; color:#f00; }

#main-header  { margin:0 0 0 0; box-shadow:0 1px 0 0 rgba(0,0,0,0.1); background-color:#519cd3; position:relative; z-index:101; }
#main-header .title { float:left; display:inline; margin:10px 0 0 5%; color:#fff; font-size:150%; line-height:120%; }
#main-header .menu { float:right; display:inline; font-size:150%; }
#main-header .menu > * { float:left; display:inline; padding:10px; color:#fff; }
#main-header .menu > *:hover { background-color:rgba(0,0,0,0.1); }

#main-menu  { margin:0 0 0 2px; box-shadow:0 1px 0 0 rgba(0,0,0,0.1); position:relative; z-index:101; }
#main-menu .row > * { padding-top:10px; text-align:center; }
#main-menu .row > * { padding:10px 0; color:#fff; }
#main-menu .row > * img { max-width:30px; }
#main-menu .row > *:hover { background-color:rgba(0,0,0,0.1); cursor:pointer; }
#main-menu .row > *.active { box-shadow:0 1px 0 0 rgba(255,255,0,0.4); box-shadow:0 -1px 0 0 rgba(255,255,0,0.4) inset; }

#group { display:inline-block; background-color:rgba(255,255,255,0.9); overflow-y:scroll; }
#group .row { padding:5px 0 5px 5%; border-bottom:1px solid rgba(0,0,0,0.1); }
#group .row img { display:inline-block; margin:0 10px 0 0; border-radius:50%; vertical-align:middle; }
#group .title { color:#888; background-color:rgba(255,255,255,0.95) }

#chatmessage { display:inline-block; padding-top:20px; background-color:rgba(255,255,255,0.9); overflow-y:scroll; }
#chatmessage .row-fluid { display:inline-block; }
#chatmessage .row-fluid > * { float:left; display:inline; }
#chatmessage .row-fluid img { float:left; display:inline-block; margin:5px 5px 0 10px; border-radius:50%; vertical-align:middle; box-shadow:0 1px 1px 1px rgba(0,0,0,0.1); clear:both; }
#chatmessage .row-fluid > div { float:left; max-width:70%; }
#chatmessage .row-fluid > div > * { float:left; display:inline; clear:both; }
#chatmessage .row-fluid > div > div { display:table; }
#chatmessage .row-fluid > div > div span { display:inline-block; margin:0 0 10px 0; padding:10px 10px; border-radius:20px; border-top-left-radius:0; background-color:#fff; box-shadow:1px 1px 2px 1px rgba(0,0,0,0.2); }
#chatmessage .row-fluid > div > div label { display:table-cell; width:40px; padding:0 0 10px 0; text-align:center; vertical-align:bottom; font-weight:normal; font-size:80%; line-height:10px; color:rgba(0,0,0,0.6); } 
#chatmessage .row-fluid > .mine { float:right; margin-right:1px; margin-top:10px; }
#chatmessage .row-fluid > .mine > * { float:right; }
#chatmessage .row-fluid > .mine > div span { border-top-left-radius:20px; border-top-right-radius:0; }

#chatbox { padding:10px 0; }
#chatbox .row > * > img { max-width:30px; padding:5px 0; }
#chatbox .row > * > span { max-width:30px; padding:3px 0; font-size:20px; color:#fff; }
#chatbox .row > div:hover { background-color:rgba(0,0,0,0.1); cursor:pointer; }

#chatmenu { display:block; position:fixed; top:-300px; z-index:100; background-color:#fff; box-shadow:0 1px 1px 1px rgba(0,0,0,0.2); }
#chatmenu > div { text-align:center; padding:20px 0 10px; }
#chatmenu > div:hover { background-color:rgba(0,0,0,0.05); cursor:pointer; }
#chatmenu > div > span { font-size:40px; }




