#login { float:left; display:inline-block; width:100%; height:100vh; position:fixed; top:0; left:0; z-index:100;
	background-color:#fff;
	background: -webkit-linear-gradient(rgba(255,255,255,1), #519cd3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1), #519cd3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1), #519cd3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), #519cd3); /* Standard syntax (must be last) */ }

#login .container { float:none; display:table; width:100%; max-width:1000px; margin:10vh auto; text-align:center; }
#login .login-logo { max-width:250px; vertical-align:bottom; }
#login form { max-width:300px; margin:0 auto 0; }
#login .message { line-height:30px; font-weight:normal; opacity:1; color:#f00; opacity:0; }
#login form { float:none; display:inline-block; width:100%; text-align:center; }
#login form > * { float:left; display:inline; width:100%; }
#login form .form-control { float:none; display:inline-block; width:90%; max-width:300px; line-height:28px; height:28px; margin:0 0 10px; padding:0 5%; border-radius:20px; }
#login form button { float:none; display:block; width:100%; max-width:100px; margin:0 auto; line-height:30px; border-radius:10px; background-color:#001A66; color:#fff; box-shadow:none; border:none; background-color:#0c92cf; }

.group-list { display:block; overflow:hidden; }

.group-detail { text-align:center; }
.group-detail .avatar { width:100%; max-width:150px; height:150px; border-radius:50%; }
.group-detail .group-menu { display:table; width:100%; max-width:600px; margin:0 auto; }
.group-detail .group-menu > * { float:left; display:inline; width:100%; max-width:33%; padding:20px 0; font-size:40px; cursor:pointer; text-decoration:none; color:#333; }
.group-detail .group-menu > * span { font-size:14px; position:relative; top:-10px; }
.group-detail .group-menu >:hover { background-color:rgba(0,0,0,0.05); }
.group-pvgroup { float:left; display:inline; width:100%; margin-top:0; text-align:center; }
.group-pvgroup span img { border-radius:50%; }
.group-pvgroup .length { display:inline-block; min-width:30px; line-height:30px; vertical-align:top; text-align:center; box-shadow:0 0 1px 0 red inset; color:red; text-decoration:none; border-radius:50%; }

.group-create .avatar { border-radius: 50%; float: left; margin: 0 10px; height: 30px; width: 30px;}
.group-create .img-group { border-radius: 50%; float: left; margin: 0 10px; height: 100px; width: 100px; }

.btn-nav { background-color:rgba(0,0,0,0.05); }
.btn-nav .button { border:none; background-color:transparent; color:#ccc; }
.btn-nav .button.activated { box-shadow:none; }

#splash { float:left; display:inline-block; width:100%; height:100vh; position:fixed; top:0; left:0; z-index:1000;
	background-color:#fff;
	background: -webkit-linear-gradient(rgba(255,255,255,1), #519cd3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255,255,255,1), #519cd3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255,255,255,1), #519cd3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255,255,255,1), #519cd3); /* Standard syntax (must be last) */ }
#splash .container { float:none; display:table; width:100%; max-width:1000px; margin:10vh auto; text-align:center; }
#splash .login-logo { max-width:250px; vertical-align:bottom; }

.message-list .item { border:none; padding:0; margin:10px 0; }
.message-list .item p { padding:10px; background-color:rgba(0,0,0,0.1); border-radius:10px; white-space:normal; }
.message-list .other > * { float:left; display:inline; clear:both; }
.message-list .other img { top:0; left:10px; }
.message-list .other h2 { margin-left:60px; }
.message-list .other label { margin-left:60px; font-size:10px; line-height:10px; color:#aaa; }
.message-list .other p { margin:0 40px 0 60px; text-align:left; border-top-left-radius:0; }
.message-list .other p a { font-size:60px; color:#666; }

.message-list .owner > * { float:right; display:inline; clear:both; }
.message-list .owner p { margin:0 5px 0 95px; text-align:right; border-top-right-radius:0; }
.message-list .owner p a { font-size:60px; color:#666; }
.message-list .owner label {margin:0 5px 0 95px; font-size:10px; line-height:10px; color:#aaa; }

#send_message { float:left; display:none; width:100%; height:49px; line-height:46px; position:fixed; bottom:0px; background-color:#ccc; z-index:1000; text-align:center; }
#send_message input { display:inline; width:80%; height:39px; line-height:39px; margin:5px 0; padding:0 10px; }
#send_message button { display:inline; width:10%; height:39px; border:none; position:relative; top:2px; }

#chatroom_back { float:left; display:none; width:80px; height:44px; line-height:44px; position:fixed; top:0; left:0; z-index:1000; text-align:center; font-size:23px; vertical-align:middle; color:#444; cursor:pointer; }


 









.has-header { top:64px; }
.nav-bar-block { margin-top:0; }
