<div>
    <div menu></div>
    <div class="content-wrapper" style="overflow-y:scroll;">
        <section class="content-header">
                      <h1>
                        {{profile.displayname}}'s Profile
                      </h1>
                      <ol class="breadcrumb">
                        <li ng-click="goto('members')">
                          <i class="fa fa-users"></i>
                            <span style="margin-right:5px;"></span>
                          Members
                        </li>
                        <li class="active">{{profile.displayname}}'s Profile</li>
                      </ol>
        </section>

        <section class="content" style="height:350px;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <!-- form start -->
                                    <form role="form">
                                        <div class="box-body">
                                            <div class="col-xs-10">
                                                <div class="box-body">
                                                    <img ng-if="profile.image!=null" ng-src="{{webServer}}/timthumb.php?src={{profile.image}}&h=120&w=120" style="border-radius:50%;"/>
                                                    <img ng-if="profile.image==null" src="img/img.jpg" height="120" width="120" style="border-radius:50%;"/> 
                                                    <div class="form-group">                    
                                                        <label for="User_image">Image</label>                   
                                                        <input id="ytUser_image" type="hidden" value="" name="User[image]" /><input name="User[image]" id="User_image" type="file" />                        
                                                    </div> 

                                                    <div class="form-group">                    
                                                        <label for="User_displayname" class="required">Displayname </label>                  
                                                        <input size="20" maxlength="100" class="form-control" placeholder="Displayname" name="User[displayname]" id="User_displayname" 
                                                        value="{{profile.displayname}}"/>                                   
                                                    </div>  
                                                                    
                                                    <div class="form-group">                    
                                                        <label for="User_role" class="required">Role </label>                    
                                                        <select class="form-control" name="User[role]" id="User_role">
                                                            <option value="0">personnel</option>
                                                        </select>                                   
                                                    </div>
                                                    <div class="form-group">                    
                                                        <label for="User_firstname">Firstname</label>                   
                                                        <input size="50" maxlength="255" class="form-control" placeholder="Firstname" name="User[firstname]" id="User_firstname"
                                                        value="{{profile.firstname}}"/>                                 
                                                    </div>  
                                                        
                                                    <div class="form-group">                    
                                                        <label for="User_lastname">Lastname</label>                 
                                                        <input size="20" maxlength="255" class="form-control" placeholder="Lastname" name="User[lastname]" id="User_lastname"
                                                        value="{{profile.lastname}}"/>                                    
                                                    </div>   
                                                    <div class="form-group">                    
                                                        <label for="User_status">What's up <span class="required">*</span></label>
                                                        <input size="20" maxlength="255" class="form-control" placeholder="What&#039;s up" name="User[status]" id="User_status"
                                                        value="{{profile.status}}"/>
                                                    </div>  

                                                    <div class="form-group">                    
                                                        <label for="User_mail" class="required">Mail <span class="required">*</span></label>                    
                                                        <input size="20" maxlength="100" class="form-control" placeholder="Email" name="User[mail]" id="User_mail" 
                                                        value="{{profile.mail}}"/>                                   
                                                    </div>
                                                        
                                                    <div class="form-group">                    
                                                        <label for="User_tel">Tel <span class="required">*</span></label>                   
                                                        <input size="20" maxlength="11" class="form-control" placeholder="Tel." name="User[tel]" id="User_tel"
                                                        value="{{profile.tel}}"/>                                   
                                                    </div>        
                                                </div>
                                            </div>
                                        </div><!-- /.box-body -->

                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary pull-right">Save</button>
                                        </div>
                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div>
        </section>
    </div>
</div>