<div layout="column" ng-cloak="">
     <section layout="row" flex="">
         <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-theme-indigo" ng-controller="companyController">
                <div class="md-toolbar-tools">
                    <!-- Displaying account and company name. -->
                    <div>
                        <span class="md-body-2">{{teamInfo.name}}</span>
                        <br />
                        <span class="md-caption">{{myProfile.displayname}}</span>                    
                        <!-- Status -->
                        <span><i class="fa fa-circle text-success"></i> Online</span>                    
                    </div>
                </div>
            </md-toolbar>
            <md-content layout-padding="">
               
            </md-content>
        </md-sidenav>

        <md-content flex>
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{title}}</h1>
            </md-toolbar>
            <div layout="column" layout-fill="" layout-align="top center">
          
            </div>
            <div flex=""></div>
        </md-content>
    </section>
</div>