<div layout="row" ng-cloak>
    <div ng-controller="companyController" layout="column" style="width:30%" id="leftLayout">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <!-- Displaying account and company name. -->
                <div>
                    <span class="md-body-2">{{teamInfo.name}}</span>
                    <br />
                    <span class="md-caption">{{myProfile.displayname}}</span>                    
                    <!-- Status -->
                    <span><i class="fa fa-circle text-success"></i> Online</span>                    
                </div>
            </div>
        </md-toolbar>
        <!-- Left side column. contains the logo and sidebar -->
        <aside>

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="menu-item active" onclick="location.href='#/backend/members';"><a><i class="fa fa-users"></i> <span>Members</span></a></li>
                    <li class="menu-item" onclick="location.href='#/backend/organization';"><a><i class="fa fa-sitemap"></i> <span>Organization Groups</span></a></li>
                    <li class="menu-item" onclick="location.href='#/backend/projectbase';"><a><i class="fa fa-sticky-note"></i> <span>Projectbase Groups</span></a></li>
                </ul><!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
    </div>

    <div ng-controller="HeaderChatCtrl" id="chatHeader" layout="column" style="width:70%">
        <md-toolbar id="chatToolbar">
            <div class="md-toolbar-tools">
                <div>
                    <span class="md-title">{{roomName}}</span>
                    <br />
                    <span class="md-caption" ng-show="warnMessage != ''">{{warnMessage}}</span>
                </div>


                <md-button class="md-icon-button" aria-label="Settings" style="margin:0 0; padding:0 0;">
                    <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
                    <md-icon class="material-icons">menu</md-icon>
                </md-button>

                <!-- fill up the space between left and right area -->
                <span flex></span>

                <md-button class="md-raised" aria-label="Reload" ng-show="warnMessage != ''" ng-click="reload()">
                    Reload
                </md-button>
                <md-button class="md-icon-button" aria-label="Notification" ng-if="isBlockNoti(currentRoom._id) && (currentRoom.type==2 || currentRoom.type==3)"
                           ng-click="editBlockNoti('remove',currentRoom._id,currentRoom.type)">
                    <i class="material-icons">notifications_off</i>
                </md-button>
                <md-button class="md-icon-button" aria-label="Notification" ng-if="!isBlockNoti(currentRoom._id) && (currentRoom.type==2 || currentRoom.type==3)"
                           ng-click="editBlockNoti('add',currentRoom._id,currentRoom.type)">
                    <i class="material-icons">notifications_none</i>
                </md-button>


                <div ng-if="currentRoom.type == '3'">
                    <md-button class="md-icon-button" aria-label="Favorite" ng-if="!isFavorite(otherId)" ng-click="editFavorite('add',otherId,currentRoom.type)">
                        <i class="material-icons">favorite</i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-if="isFavorite(otherId)" style="color:red;" ng-click="editFavorite('remove',otherId,currentRoom.type)">
                        <i class="material-icons" style="color:red;">favorite</i>
                    </md-button>
                </div>
                <div ng-if="currentRoom.type != '3'">
                    <md-button class="md-icon-button" aria-label="Favorite" ng-if="!isFavorite(currentRoom._id)" ng-click="editFavorite('add',currentRoom._id,currentRoom.type)">
                        <i class="material-icons">favorite</i>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Favorite" ng-if="isFavorite(currentRoom._id)" style="color:red;" ng-click="editFavorite('remove',currentRoom._id,currentRoom.type)">
                        <i class="material-icons" style="color:red;">favorite</i>
                    </md-button>
                </div>


                <md-button class="md-icon-button" aria-label="More" ng-click="toggleInfo()">
                    <i class="material-icons">more_horiz</i>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" style="height:100%">
            <div id="chatLayout" style="overflow-y:scroll; overflow-x:hidden; width:100%; min-width:330px;">
                <div ui-view="chats-detail"></div>
            </div>
            <div id="infoLayout" style="overflow-y:scroll; overflow-x:hidden; width:40%; min-width:380px;" ng-show="viewInfo==true">
                <div ui-view="chats-info">
                </div>
            </div>
        </div>
    </div>
</div>