<div layout="column" ng-cloak="">
     <section layout="row" flex="">
         <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
            <md-toolbar class="md-theme-indigo" ng-controller="companyController">
                <div class="md-toolbar-tools">
                    <!-- Displaying account and company name. -->
                    <div>
                        <span class="md-body-2">{{teamInfo.name}}</span>
                        <br />
                        <span class="md-caption">{{myProfile.displayname}}</span>                    
                        <!-- Status -->
                        <span><i class="fa fa-circle text-success"></i> Online</span>                    
                    </div>
                </div>
            </md-toolbar>
            <md-content layout-padding="">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="menu-item active" ng-click="menuMember()"><a><i class="fa fa-users"></i> <span>Members</span></a></li>
                    <li class="menu-item" ng-click="menuOrg()"><a><i class="fa fa-sitemap"></i> <span>Organization Groups</span></a></li>
                    <li class="menu-item" ng-click="menuPjb()"><a><i class="fa fa-sticky-note"></i> <span>Projectbase Groups</span></a></li>
                </ul><!-- /.sidebar-menu -->
            </md-content>
        </md-sidenav>

        <md-content flex>
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{title}}</h1>
            </md-toolbar>
            <div id="test-u-view" layout="column" layout-fill="" layout-align="top center">
                <div ng-show="stateName == 'backend.members'" ng-include src="'backend/templates/members.html'" ng-controller="backendMembers" style="width:100%;"></div>

                <div ng-show="stateName == 'backend.organization'" ng-include src="'backend/templates/org.html'" ng-controller="backendOrgController" style="width:100%;"></div>

                <div ng-show="stateName == 'backend.projectbase'" ng-include src="'backend/templates/pjb.html'" ng-controller="backendPjbController" style="width:100%;"></div>
            </div>
        </md-content>
    </section>
</div>