<div>
    <div menu></div>
    <div class="content-wrapper" style="overflow-y:scroll;">
        <section class="content-header">
                      <h1>
                        Create New Organization Group
                      </h1>
                      <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-sitemap"></i>Organization Group</a></li>
                        <li class="active"><a> Create New Organization Group </a></li>
                      </ol>
        </section>
        <section class="content" style="height:350px;" ng-controller="ImageController">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-primary">
                                    <!-- form start -->
                                    
                                    <form id="UploadAvatar">
                                        <div class="box-body">
                                            <div class="col-xs-10">


                                                <div class="box-body">

                                                    <div class="form-group">                    
                                                        <label for="Room_name" class="required">Name <span class="required">*</span></label>                    
                                                        <input size="20" maxlength="100" class="form-control" placeholder="Name" name="Room[name]" id="Room_name">                                  
                                                    </div>
                                                    <div class="form-group">                    
                                                        <label for="Room_description">Description</label>                   
                                                        <input size="20" maxlength="100" class="form-control" placeholder="Description" name="Room[description]" id="Room_description">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="Room_image">Image</label>
                                                        <input type="file" name="fileToUpload" id="avatarToUpload">
                                                    </div>

                                                    <div class="form-group">                    
                                                        <label for="Room_nodeId" class="required">Node Id</label>                   
                                                        <input size="20" maxlength="100" class="form-control" placeholder="Parent" readonly="readonly" name="Room[nodeId]" id="Room_nodeId" value="root">
                                                    </div>

                                                    <div class="form-group">                    
                                                        <label>Select a Member</label> 
                                                        <select id="inviteSelect" theme="bootstrap" ui-select2="select2options" ng-model="inviteModel" data-placeholder="Select a Member" multiple style="width:100%;">
                                                            <option ng-repeat="tag in members" value="{{tag._id}}"> 
                                                                {{tag.displayname}}
                                                            </option>
                                                        </select>                                             
                                                    </div>

                                                </div>
                                            </div>

                                        </div><!-- /.box-body -->



                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary pull-right" ng-click="create()">Create</button>
                                        </div>
                                    </form>
                                </div><!-- /.box -->
                            </div>
                        </div>
        </section><!-- /.content -->
    </div>
</div>