<div>
    <div menu></div>
    <div class="content-wrapper" style="overflow-y:scroll;">
            <div>
                <section class="content-header">
                  <h1>
                    {{ orgGroup.name }} Group
                  </h1>
                  <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-sticky-note"></i>Projectbase Group</a></li>
                    <li class="active"><a> {{ orgGroup.name }} Group</a></li>
                  </ol>
                </section>
                <section class="content" style="height:350px;">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">
                                        <div class="row">
                                        <div class="col-xs-2">
                                            <center>
                                                <img ng-if="orgGroup.image!=null" ng-src="{{webServer}}/timthumb.php?src={{orgGroup.image}}&h=120&w=120" style="border-radius:50%;"/>
                                                <img ng-if="orgGroup.image==null" src="img/img.jpg" height="120" width="120" style="border-radius:50%;"/> 
                                            </center>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="form-group">
                                                <label>Group Name</label>
                                                <input class="form-control" id="exampleInputEmail1" placeholder="Group Name" value="{{orgGroup.name}}">
                                            </div>
                                            <div class="form-group" style="position:absolute; bottom:0px; margin-bottom:0px;">
                                                <input type="file" id="exampleInputFile" style="display:inline;">
                                            </div>
                                        </div>
                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                                    </div>
                                </form>
                                <div class="box-header">
                                    <h3 class="box-title"> {{ orgGroup.name }} Members</h3>
                                    <button class="btn btn-default" style="margin-left:20px;" ng-click="console()">Invite</button>
                                </div><!-- /.box-header -->

                                <div class="col-xs-12">
                                    <select id="bobo" theme="bootstrap" ui-select2="select2options" ng-model="inviteModel" data-placeholder="Select a Member" multiple style="width:100%;">
                                        <option ng-repeat="tag in externalMembers" value="{{tag._id}}"> 
                                            {{tag.displayname}}
                                        </option>
                                    </select>
                                </div>

                                <center>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="box">
                                                <table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" dt-instance="showCase.dtInstance" class="row-border hover">
                                                <thead>
                                                    <tr>
                                                        <th>Displayname</th>
                                                        <th>E-mail</th>
                                                        <th>Role</th>
                                                        <th>Job Position</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="member in orgGroup.members" ng-if="member.displayname != null && member.mail != null">
                                                        <td> 
                                                            <img ng-if="member.image!=null" ng-src="{{webServer}}/timthumb.php?src={{member.image}}&h=40&w=40" style="border-radius:50%; margin-right:20px;"/> 
                                                            <img ng-if="member.image==null" src="img/img.jpg" height="40" width="40" style="border-radius:50%; margin-right:20px;"/> 
                                                            {{ member.displayname }}
                                                        </td>
                                                        <td>{{ member.mail }}</td>
                                                        <td>
                                                            <div ng-hide="editingData[member.id]">
                                                                {{ member.role }}
                                                            </div>
                                                            <div ng-show="editingData[member.id]">
                                                                <select ng-model="role" ng-options="role.role for role in rolePosition"></select>
                                                            </div>     
                                                        </td>
                                                        <td>
                                                            <div ng-hide="editingData[member.id]">
                                                                {{ member.jobPosition }}
                                                            </div>
                                                            <div ng-show="editingData[member.id]">
                                                                <select ng-model="job" ng-options="job.job for job in jobPosition"></select>
                                                            </div>  

                                                        </td>
                                                        <td class="center">
                                                            <!-- <a class="btn btn-success" href="#">
                                                                <i class="ion-search"></i>  
                                                            </a>
                                                            <a class="btn btn-info" href="#">
                                                                <i class="ion-compose"></i>  
                                                            </a> -->
                                                            <a ng-hide="editingData[member.id]" ng-click="modify(member)" class="btn btn-info"> <i class="ion-compose"></i></a>
                                                            <a ng-show="editingData[member.id]" ng-click="update(member)" class="btn btn-success"> <i class="ion-compose"></i></a>
                                                            <a class="btn btn-danger">
                                                                <i class="ion-trash-b"></i> 
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div><!-- /.box -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </center>
                            </div><!-- /.box -->
                        </div>
                    </div>
                </section><!-- /.content -->
            </div>
    </div>
</div>