<ion-view id="chatDetail" view-title="{{title}}" cache-view="false">
	<ion-content delegate-handle="mainScroll" style="bottom:44px;">
        
        <div ng-controller="ImageController">
        	<div ng-controller="VoiceController">
        		<div ng-controller="VideoController">

        
		<ion-list class="message-list" ng-repeat="message in chat track by $index">
			<ion-item ng-if="message.sender != myprofile._id && !!message.sender" class="other item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{allMembers[message.sender]['image']}}&h=40&w=40" />
				<h2>{{allMembers[message.sender]['displayname']}}</h2>
				</br>

				<p id="{{message._id}}" ng-if="message.type=='Text' && !isValidURI(message.body)">
					{{message.body}}
				</p>
				<p id="{{message._id}}" ng-if="message.type=='Text' && isValidURI(message.body)">
					<u ng-click="webview(message.body)">
						{{message.body}}
					</u>
				</p>
				
				
				<img id="{{message._id}}" class="type-img" ng-if="message.type=='Image'" ng-src="http://stalk.animation-genius.com{{message.body}}" ng-click="viewImage('http://stalk.animation-genius.com'+message.body)"/>
				<img class="type-img" ng-if="message.type=='Sticker'" ng-src="stickers/sticker{{message.body}}.png" />
				<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice'">
					<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,'http://stalk.animation-genius.com'+message.body)"></i>
					<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
				</div>

				<div class="type-video" ng-if="message.type=='Video'">
					<video id="{{message._id}}" src="{{message.bodyUrl}}"></video>
				</div>

				<div id="{{message._id}}-download-contain" class="download-contain hide"><div id="{{message._id}}-download-progress" class="download-bar"></div></div>
				</br>
				<label>{{message.createTime.substr(0,10)}} {{message.createTime.substr(11,8)}}</label>
			</ion-item>

			<ion-item ng-if="message.sender == myprofile._id" class="owner item-remove-animate item-icon-right" type="item-text-wrap">
				<label style="clear:none; cursor:pointer;" ng-show="message.readers != null && message.readers.length != 0" ng-click="viewReader(message.readers)">read {{message.readers.length}}</label> 

				<div id="{{message._id}}-download-contain" class="download-contain hide"><div id="{{message._id}}-download-progress" class="download-bar"></div></div>
			
				<p id="{{message._id}}" ng-if="message.type=='Text' && !isValidURI(message.body)">
					{{message.body}}
				</p>
				<p id="{{message._id}}" ng-if="message.type=='Text' && isValidURI(message.body)">
					<u ng-click="webview(message.body)">
						{{message.body}}
					</u>
				</p>
				
                <img class="type-img" ng-if="message.type=='Image' && message.temp=='true'" ng-src="{{message.body}}" ng-click="viewImage(message.body)"/>
				<img class="type-img" ng-if="message.type=='Image' && message.temp==null" ng-src="http://stalk.animation-genius.com{{message.body}}" ng-click="viewImage('http://stalk.animation-genius.com'+message.body)"/>
				<img class="type-img" ng-if="message.type=='Sticker'" ng-src="stickers/sticker{{message.body}}.png" />

				<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice' && message.temp=='true'">
                    <i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,message.body)"></i>
                    <i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
				</div>
                <div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice' && message.temp==null">
                    <i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,'http://stalk.animation-genius.com'+message.body)"></i>
                    <i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
                </div>

                <div class="type-video" ng-if="message.type=='Video' && message.temp=='true'">
                	<video id="{{message._id}}" src="{{message.body}}"></video>
				</div>
                <div class="type-video" ng-if="message.type=='Video' && message.temp==null">
                	<video id="{{message._id}}" src="{{message.bodyUrl}}"></video>
                </div>
				
						
                <br />
				<label> {{message.createTime.substr(0,10)}} {{message.createTime.substr(11,8)}}</label>
			</ion-item>
		</ion-list>

				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
<ion-footer-bar id="chatMessage" align-title="left" class="bar-light" style="z-index:100;">
	<div class="buttons">
		<button id="chatMenu" ng-click="openModal()" class="button" style="width:76px; font-size:20px; padding:0 20px;"><i class="ion-ios-plus-outline"></i></button>
	</div>
	<input id="send_message" type="text" name="send_message" style="width:100%; height:33px; padding:0 10px; box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;" />
	<div class="buttons">
		<button id="sendMsg" class="button" style="width:76px; font-size:20px; padding:0 20px;"><i class="ion-share" data-pack="default" data-tags="outbound"></i></button>
	</div>
</ion-footer-bar>
