<ion-nav-bar>
</ion-nav-bar>
<ion-view id="chatDetail" view-title="{{currentRoom.name}}" cache-view="false" hide-tab-bar>
	<ion-nav-buttons side="right">
		<div ng-show="currentRoom.type!=3">
	        <i ng-if="isFavorite(currentRoom._id)" class="ion-heart assertive" style="font-size:25px; line-height:40px;" ng-click="editFavorite('remove',currentRoom._id,currentRoom.type)"></i>
			<i ng-if="!isFavorite(currentRoom._id)" class="ion-heart dark" style="font-size:25px; line-height:40px;" ng-click="editFavorite('add',currentRoom._id,currentRoom.type)"></i>
		</div>
		<div ng-show="currentRoom.type==3">
	        <i ng-if="isFavorite(otherId)" class="ion-heart assertive" style="font-size:25px; line-height:40px;" ng-click="editFavorite('remove',otherId,currentRoom.type)"></i>
			<i ng-if="!isFavorite(otherId)" class="ion-heart dark" style="font-size:25px; line-height:40px;" ng-click="editFavorite('add',otherId,currentRoom.type)"></i>
		</div>

		<div ng-show="currentRoom.type==2">
			<i ng-if="isBlockNoti(currentRoom._id)" class="ion-android-notifications-off" style="margin-left:15px; margin-right:5px; font-size:25px; line-height:40px;" 
				ng-click="editBlockNoti('remove',currentRoom._id,currentRoom.type)"></i>
			<i ng-if="!isBlockNoti(currentRoom._id)" class="ion-android-notifications" style="margin-left:15px; margin-right:5px; font-size:25px; line-height:40px;"
				ng-click="editBlockNoti('add',currentRoom._id,currentRoom.type)"></i>
		</div>
		<div ng-show="currentRoom.type==3">
			<i ng-if="isBlockNoti(otherId)" class="ion-android-notifications-off" style="margin-left:15px; margin-right:5px; font-size:25px; line-height:40px;"
				ng-click="editBlockNoti('remove',otherId,currentRoom.type)"></i>
			<i ng-if="!isBlockNoti(otherId)" class="ion-android-notifications" style="margin-left:15px; margin-right:5px; font-size:25px; line-height:40px;"
				ng-click="editBlockNoti('add',otherId,currentRoom.type)"></i>
		</div>

		<div>
			<i class="ion-navicon-round" style="margin-left:15px; margin-right:5px; font-size:25px; line-height:40px;" ng-click="openPopover($event)"></i>
		</div>
    </ion-nav-buttons>
	<ion-content delegate-handle="mainScroll" style="overflow:auto;">
		
		<!-- -- -- -- -- -- -- -- -- -- -- WEB GROUP -- -- -- -- -- -- -- -- -- -- -->
		<div id="webgroup" style="float:left; display:inline-block; width:25%; margin:0; overflow-y:scroll; overflow-x:hidden;">
<!-- 			<ion-refresher on-refresh="pullRefresh()"></ion-refresher> -->

			<div class="bar bar-header item-input-inset">
			  <label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search" ng-model="search.name">
			  </label>
			</div>

			<!-- My profile. -->
			<div id="nav-myProfile" ng-click="viewlist('myProfile')" class="item item-button-right btn-nav">
				Profile
				<button class="button">
					<i class="icon ion-chevron-up"></i>
				</button>
			</div>

			<ion-list id="list-myProfile" class="group-list">
				<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="openProfileModal()"  type="item-text-wrap">

					<img ng-if="myProfile.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{myProfile.image}}&h=40&w=40" />
					<img ng-if="myProfile.image == null" src="img/img.jpg" height="40" width="40"  />

					<h2>{{myProfile.displayname}}</h2>
					<p>{{myProfile.status}}</p>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>

			<!-- -- -- -- -- -- -- -- -- -- -- Favorite -- -- -- -- -- -- -- -- -- -- -->
			<div id="nav-favorites" ng-click="viewlist('favorites')" class="item item-button-right btn-nav">
				Favorites
				<button class="button">
					<i class="icon ion-chevron-up"></i>
				</button>
			</div>
			<ion-list id="list-favorites" class="group-list">
				<ion-item class="item-remove-animate item-avatar item-icon-right" 
						  ng-repeat="favorite in favorites|orderObjectBy:'name':false|filter:search track by $index"
						 type="item-text-wrap"
						   ng-click="openModal(favorite._id,favorite.type)">

					<img ng-if="favorite.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{favorite.image}}&h=40&w=40" />
					<img ng-if="favorite.image == null" src="img/img.jpg" height="40" width="40"  />

					<div ng-if="favorite.type=='0' || favorite.type=='1'">
						<h2>{{favorite.name}}</h2>
						<p>{{favorite.description}}</p>
					</div>
					<div ng-if="favorite.type=='2'">
						<h2>{{favorite.name}}</h2>
					</div>
					<div ng-if="favorite.type==undefined">
						<h2>{{favorite.name}}</h2>
						<p>{{favorite.status}}</p>
					</div>

					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>



			<!-- -- -- -- -- -- -- -- -- -- -- Org group -- -- -- -- -- -- -- -- -- -- -->
			<div id="nav-orgGroups" ng-click="viewlist('orgGroups')" class="item item-button-right btn-nav">
				Organize Groups
				<button class="button">
					<i class="icon ion-chevron-up"></i>
				</button>
			</div>
			<ion-list id="list-orgGroups" class="group-list">
				<!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="orgGroup in orgGroups|orderObjectBy:'name':false|filter:search" ng-click="openOrgModal(orgGroup._id)" type="item-text-wrap">-->
				<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="orgGroup in orgGroups|orderObjectBy:'name':false|filter:search" type="item-text-wrap" ng-click="webhref(orgGroup._id)" onmouseover="this.style.cursor='pointer'">
					
					<img ng-if="orgGroup.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{orgGroup.image}}&h=40&w=40" />
					<img ng-if="orgGroup.image == null" src="img/img.jpg" height="40" width="40"  />

					<h2>{{orgGroup.name}}</h2>
					<p>{{orgGroup.description}}</p>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>
			<!-- -- -- -- -- -- -- -- -- -- Project base group -- -- -- -- -- -- -- -- -- -- -- -->
			<div id="nav-pjbGroups" ng-click="viewlist('pjbGroups')" class="item item-button-right btn-nav">
				Project base Groups
				<button class="button">
					<i class="icon ion-chevron-up"></i>
				</button>
			</div>
			<ion-list id="list-pjbGroups" class="group-list">
				<ion-item class="item-remove-animate item-avatar item-icon-right"
						   ng-repeat="pjbGroup in pjbGroups|orderObjectBy:'name':false|filter:search"
						   ng-if="pjbGroup.visibility === true || pjbGroup.visibility === undefine" 
						   ng-click="openPjbModal(pjbGroup._id)" type="item-text-wrap">
					
					<img ng-if="pjbGroup.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{pjbGroup.image}}&h=40&w=40" />
					<img ng-if="pjbGroup.image == null" src="img/img.jpg" height="40" width="40"  />

					<h2>{{pjbGroup.name}}</h2>
					<p>{{pjbGroup.description}}</p>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>

			<!-- -- -- -- -- -- -- -- -- -- -- Private group -- -- -- -- -- -- -- -- -- -- -->
			<div id="nav-pvGroups" ng-click="viewlist('pvGroups')" class="item item-button-right btn-nav">
				Private Groups
				<button class="button">
					<i class="icon ion-chevron-up"></i>
				</button>
			</div>
			<ion-list id="list-pvGroups" class="group-list">
				<ion-item class="item-remove-animate item-avatar item-icon-right"
						   ng-repeat="pvGroup in pvGroups|orderObjectBy:'name':false|filter:search"
						   ng-if="pvGroup.visibility === true || pvGroup.visibility === undefine" 
						   ng-click="openPvgModal(pvGroup._id)" type="item-text-wrap">

					<img ng-if="pvGroup.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{pvGroup.image}}&h=40&w=40" />
					<img ng-if="pvGroup.image == null" src="img/img.jpg" height="40" width="40"  />

					<h2>{{pvGroup.name}}</h2>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>

			<!-- All contacts. -- -- -- -- -- -- -- -- -- -- -->
			<div id="nav-orgmembers" ng-click="viewlist('orgmembers')" class="item item-button-right btn-nav">
				Organize Members
				<button class="button">
					<i class="icon ion-chevron-up"></i>
				</button>
			</div>
			<ion-list id="list-orgmembers" class="group-list">
				<ion-item ng-repeat="chat in chats|orderObjectBy:'displayname':false|filter:search.name" 
				ng-if="chat._id != myProfile._id" class="item-remove-animate item-avatar item-icon-right" 
				ng-click="openContactModal(chat._id)" type="item-text-wrap">

					<img ng-if="chat.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{chat.image}}&h=40&w=40" />
					<img ng-if="chat.image == null" src="img/img.jpg" height="40" width="40"  />

					<h2>{{chat.displayname}}</h2>
					<p>{{chat.status}}</p>
					<i class="icon ion-chevron-right icon-accessory"></i>
				</ion-item>
			</ion-list>
		</div>
			
		<!-- -- -- -- -- -- -- -- -- -- -- WEB DETAIL -- -- -- -- -- -- -- -- -- -- -->
		<div id="webchatdetail" style="float:left; display:inline-block; width:50%; margin:0; overflow-y:scroll;">
			<div style="float:left; display:inline-block; width:100%;">
				<div ng-controller="ImageController">
					<div ng-controller="VoiceController">
						<div ng-controller="VideoController">

				
				<ion-list class="message-list" ng-repeat="message in chat track by $index">

					<ion-item ng-if="message.firstMsg != undefined" style="text-align:center;">
						<div style="font-size:12px;"> {{message.firstMsg}} </div>
					</ion-item>

					<ion-item ng-if="message.sender != myprofile._id && !!message.sender" class="other item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
						<img ng-src="http://203.113.25.44/timthumb.php?src={{allMembers[message.sender]['image']}}&h=40&w=40" />
						<h2>{{allMembers[message.sender]['displayname']}}</h2>
						</br>

						<p id="{{message._id}}" ng-if="message.type=='Text' && !isValidURI(message.body)">
							{{message.body}}
						</p>
						<p id="{{message._id}}" ng-if="message.type=='Text' && isValidURI(message.body)">
							<u ng-click="webview(message.body)">
								{{message.body}}
							</u>
						</p>
						
						
						<img id="{{message._id}}" class="type-img" ng-if="message.type=='Image'" ng-src="http://203.113.25.44{{message.body}}" ng-click="viewImage(message.type,'http://203.113.25.44'+message.body)"/>
						<img class="type-img" ng-if="message.type=='Sticker'" ng-src="stickers/sticker{{message.body}}.png" />
						<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice'">
							<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,'http://203.113.25.44'+message.body)"></i>
							<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
						</div>

						<div class="type-video" ng-if="message.type=='Video' && message.temp==null" ng-click="openVideo(message.type,message.body)" 
						style="background-image: url({{ message.thumbnail }}); background-repeat: no-repeat; background-position: center center; background-size:contain;">
							<div style="margin-left:10px;">
								<i class="ion-ios-play" style="line-height: 160px;  padding:0px 13px; border-radius:50%; background-color:gray;"></i>
							</div>
						</div>


					
						<div class="type-location" ng-if="message.type == 'Location'" ng-click="viewLocation(message._id)">
							<div>
								<div class="item item-text-wrap">
									{{message.locationName}}     
								   <br /> {{message.locationAddress}}
									<br /> {{message.lat}} , {{message.long}}
								</div>s
							</div>
						</div>
						

						<div id="{{message._id}}-downloaded" class="hide">
							<div id="{{message._id}}-download-contain" class="download-contain"><div id="{{message._id}}-download-progress" class="download-bar"></div></div>
						</div>

						</br>
						<label>{{message.time}}</label>
					</ion-item>

					<ion-item ng-if="message.sender == myprofile._id" class="owner item-remove-animate item-icon-right" type="item-text-wrap">
						<label style="clear:none; cursor:pointer;" ng-show="message.readers != null && message.readers.length != 0" ng-click="viewReader(message.readers)">read {{message.readers.length}}</label> 

						<div id="{{message._id}}-resend" class="hide" style="font-size:10px;" ng-click="resend(message.body,message._id)"> Resend </div>

						<div id="{{message._id}}-downloaded" class="hide">
							<i class="ion-ios-close" style="margin-right:5px; float:left;" ng-click="sentCancel(message._id)"></i>
							<div id="{{message._id}}-download-contain" class="download-contain"><div id="{{message._id}}-download-progress" class="download-bar"></div></div>
						</div>
					
						<p id="{{message._id}}" ng-if="message.type=='Text' && !isValidURI(message.body)">
							{{message.body}}
						</p>
						<p id="{{message._id}}" ng-if="message.type=='Text' && isValidURI(message.body)">
							<u ng-click="webview(message.body)">
								{{message.body}}
							</u>
						</p>
						
						<img class="type-img" ng-if="message.type=='Image' && message.temp=='true'" ng-init="uploadImage(message._id)" ng-src="{{message.body}}" ng-click="viewImage(message.type,message.body)"/>
						<img class="type-img" ng-if="message.type=='Image' && message.temp==null" ng-src="http://203.113.25.44{{message.body}}" ng-click="viewImage(message.type,'http://203.113.25.44'+message.body)"/>

						<img class="type-img" ng-if="message.type=='Sticker'" ng-src="stickers/sticker{{message.body}}.png" />

						<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice' && message.temp=='true'" ng-init="uploadVoice(message._id)">
							<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,message.body)"></i>
							<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
						</div>
						<div id="{{message._id}}" class="type-voice" ng-if="message.type=='Voice' && message.temp==null">
							<i id="{{message._id}}-voice-play" class="ion-play" ng-click="play(message._id,'http://203.113.25.44'+message.body)"></i>
							<i id="{{message._id}}-voice-pause" class="ion-pause" ng-click="pause(message._id)" style="display:none;"></i>
						</div>

						<div class="type-video" ng-if="message.type=='Video' && message.temp=='true'" ng-init="uploadVideo(message._id)">
							<video id="{{message._id}}" src="{{message.body}}" controls="controls" preload="metadata"></video>
						</div>
						<div class="type-video" ng-if="message.type=='Video' && message.temp==null" ng-click="openVideo(message.type,message.body)" 
						style="background-image: url({{ message.thumbnail }}); background-repeat: no-repeat; background-position: center center; background-size:contain;">
							<div style="margin-left:10px;">
								<i class="ion-ios-play" style="line-height: 160px;  padding:0px 13px; border-radius:50%; background-color:gray;"></i>
							</div>
						</div>
						
						
						<div class="type-location" ng-if="message.type == 'Location'" ng-click="viewLocation(message._id)">
							<div>
								<div class="item item-text-wrap">
									{{message.locationName}}     
								   <br /> {{message.locationAddress}}
									<br /> {{message.lat}} , {{message.long}}
								</div>
							</div>
						</div>
								
						<br />
						<label ng-if="message.temp != 'true' "> {{message.time}}</label>
					</ion-item>
				</ion-list>

				<form id="UploadForm" style="position: absolute; top:-1000px;">
				    <input type="file" name="fileToUpload" id="fileToUpload" onchange="angular.element(this).scope().addImg()">
				</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- -- -- -- -- -- -- -- -- -- -- WEB PROFILE -- -- -- -- -- -- -- -- -- -- -->
		<div id="webprofile" style="float:left; display:inline-block; width:25%; margin:20px 0 0; overflow-y:hidden; overflow-x:hidden; text-align:center;">
			<img class="avatar-modal" ng-if="profile.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{profile.image}}&h=150&w=150" />
			<img class="avatar-modal" ng-if="profile.image == null" src="img/img.jpg" height="150" width="150"  />
			<div style="margin-bottom:15px;">
				<p class="name-modal" style="display:inline;">{{profile.name}}</p>
			</div>

			<div class="group-pvgroup">
				<span ng-repeat="member in members">
					<img ng-src="http://203.113.25.44/timthumb.php?src={{member.image}}&h=30&w=30" />
				</span>
				<a ng-click="viewGroupDetail(profile._id)" class="length">{{ members_length }}</a>
			</div>
		</div>
	</ion-content>
</ion-view>

<ion-footer-bar id="chatMessage" align-title="left" class="bar-light" style="width:50%; left:25%; z-index:100; box-shadow:0 0 0 1px #ccc;">
	<div class="buttons">
		<button ng-disabled="inactive" id="chatMenu" ng-click="openModal()" class="button button-clear" style="width:76px; font-size:20px; padding:0 20px;"><i class="ion-ios-plus-outline"></i></button>
	</div>

	<input ng-disabled="inactive" ng-show="inactive!=true" id="send_message" type="text" name="send_message" style="width:100%; height:33px; padding:0 10px; box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;" />
	<input ng-disabled="inactive" ng-show="inactive==true" id="send_message" type="text" name="send_message" style="width:100%; height:33px; padding:0 10px; box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;" value="This is Empty Room" />

	<div class="buttons">
		<button ng-disabled="inactive" id="sendMsg" class="button button-clear" style="width:76px; font-size:20px; padding:0 20px;"><i class="ion-share" data-pack="default" data-tags="outbound"></i></button>
	</div>
</ion-footer-bar>




