<ion-modal-view ng-controller="MapCtrl">
<ion-content style="float:left; display:inline-block; width:100%; height:43px; line-height:43px; background-color:#f8f8f8; border-bottom:1px solid #ccc; position:relative; z-index:100; text-align:center;">
	MAP
</ion-content>
</ion-modal-view>


  <!--<body ng-app="starter" ng-mapcontroller="MapCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Map</h1>
    </ion-header-bar>

    <ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
    </ion-content>

    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
  </body>-->
