<ion-modal-view style="top:initial; bottom:-450px; box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;">
	<ion-content>
		<div class="row modal-chatmenu">
			<div class="col col-33"><i class="ion-happy-outline" data-pack="default" data-tags="good, like, fun, yes"></i><br />Sticker</div>
			<div class="col col-33"><i class="ion-image" data-pack="default" data-tags="photo"></i><br />Send image</div>
			<div class="col col-33"><i class="ion-ios-copy-outline" data-pack="ios" data-tags="duplicate, paper"></i><br />Send file</div>
		</div>
		<div class="row modal-chatmenu">
			<div class="col col-33"><i class="ion-android-microphone" data-pack="android" data-tags="recorder, speak, noise, music, sound" ng-click="voice()"></i><br />Voice</div>
			<div class="col col-33"><i class="ion-videocamera" data-pack="default" data-tags="movie, film, television"></i><br />Video</div>
			<div class="col col-33"><i class="ion-android-pin" data-pack="android" data-tags=""></i><br />Location</div>
		</div>

		<button class="button button-full button-energized" ng-click="closeModal()">Close</button>
	</ion-content>
</ion-modal-view>