<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-modal-view style="width:80%; left:10%; right:10%; top:10%; bottom:10%; min-height:400px;">
    <ion-header-bar >
       <h3 align ="center">Theme Colors</h3>
    </ion-header-bar>
	<ion-content>
        <div class="row">
            <div class="col"> 
                <button class="button button-positive"> Bule Theme
                </button>
            </div>
            <div class="col">
                <button class="button button-royal"> Violet Theme
                </button>
            </div>
            <div class="col">
                <button class="button button-balanced">Green Theme
                </button>
            </div>        
        </div>
        
        <div class="row">
            <div class="col"> 
                <button class="button button-assertive">  Red Theme
                </button>
            </div>
            <div class="col">
                <button class="button button-dark">Brown Theme
                </button>
            </div>
            <div class="col">
                <button class="button button-energized">Yellow Theme
                </button>
            </div>        
        </div>
	
	</ion-content>
    
    <ion-footer-bar  >
        <button class="button button-block button-stble"  ng-click="closeThemeModal()" > Cancel </button>
    </ion-footer-bar>
    
  
</ion-modal-view>
 

