<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-modal-view style="width:80%; left:10%; right:10%; top:10%; bottom:10%; min-height:300px;">
	<ion-content class="padding group-detail">
		<a ng-click="openViewContactProfile(contact._id)"> 

		<img class="avatar-modal" ng-if="contact.image != null" ng-src="http://203.113.25.44/timthumb.php?src={{contact.image}}&h=150&w=150" />
		<img class="avatar-modal" ng-if="contact.image == null" src="img/img.jpg" height="150" width="150"  />

		<a class="button button-icon icon ion-ios-close-empty close-modal" ng-click="closeContactModal()"></a>
		
		<div style="margin-bottom:15px;">
			<p class="name-modal" style="display:inline;">{{contact.displayname}}</p>
			<i ng-if="isFavorite(contact._id)" class="ion-heart assertive" style="font-size:20px;display:inline;position:absolute;margin-left:10px;" ng-click="editFavorite('remove',contact._id)"></i>
			<i ng-if="!isFavorite(contact._id)" class="ion-heart dark" style="font-size:20px;display:inline;position:absolute;margin-left:10px;" ng-click="editFavorite('add',contact._id)"></i>
		</div>

		<div class="group-menu">
			<div ng-click="chat()"><i class="ion-ios-chatbubble-outline" data-pack="default" data-tags="talk"></i><br /><span>Chat</span></div>
			<a href="#/tab/freecall/{{contact._id}}"><i class="ion-ios-telephone-outline" data-pack="default" data-tags="talk"></i><br /><span>FreeCall</span></a>
			<div><i class="ion-videocamera" data-pack="default" data-tags="talk"></i><br /><span>VideoCall</span></div>
		</div>
	</ion-content>
</ion-modal-view>

<a ng-click="closeContactModal()" style="position:fixed; top:0; left:0; width:100%; height:100vh; background-color:rgba(0,0,0,0.6);"></a>