<ion-modal-view style="position:fixed; top:initial; box-shadow:0 2px 0 -1px rgba(0,0,0,0.1) inset; min-height:inherit; height:192px; bottom:0px;">
	<ion-header-bar>
		<div style="width:100%; white-space:nowrap; overflow-x:auto;">
			<div class="stickerhead" style="background-image:url(stickers/Officedra/1.png); opacity:1;"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
			<div class="stickerhead" style="background-image:url(stickers/catdummmmmm/1.png);"></div>
		</div>
	</ion-header-bar>
	<ion-content>
		Hello!
	</ion-content>
</ion-modal-view>