<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-modal-view>
	<ion-content class="padding group-detail">
		<a ng-click="openViewContactProfile(contact._id)"> <img class="avatar" ng-src="http://stalk.animation-genius.com/timthumb.php?src={{contact.image}}&w=150&h=150"/> </a>
		<a class="button button-icon icon ion-ios-close-empty" ng-click="closeContactModal()"></a>
		<div class="group-menu">
			<div ng-click="chat()"><i class="ion-ios-chatbubble-outline" data-pack="default" data-tags="talk"></i><br /><span>Chat</span></div>
			<a href="#/tab/freecall/{{contact._id}}"><i class="ion-ios-telephone-outline" data-pack="default" data-tags="talk"></i><br /><span>FreeCall</span></a>
			<div><i class="ion-videocamera" data-pack="default" data-tags="talk"></i><br /><span>VideoCall</span></div>
		</div>
	</ion-content>
</ion-modal-view>
