<ion-view view-title="Free Call" cache-view="false" hide-tab-bar>
	<ion-content style="overflow-y:auto">
	
		<div ng-show="calling" class="freecall" >
			<br />
			<img class="avatar-modal" ng-if="roomowner.image != null" ng-src="{{webServer}}/timthumb.php?src={{roomowner.image}}&h=150&w=150" />
			<img class="avatar-modal" ng-if="roomowner.image == null" src="img/img.jpg" height="150" width="150"  />
			<br /><br />
			<div class="displayname">{{roomowner.displayname}}</div>
			<br />
			<div class="calling-stauts">Calling...</div>
			<br /><br />
			<div class="freecallmenu">
				<div class="btn speaker"><i class="ion-volume-high"></i></div>
				<div class="btn mute"><i class="ion-volume-mute"></i></div>
				<div class="btn hangup" ng-click="$ionicGoBack()">Hang up</div>
			</div>
		</div>
	
	</ion-content>
</ion-view>

