<ion-view view-title="Members" cache-view="false">
	<ion-content>

		<ion-list class="group-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{chat.image}}&h=60&w=60" style="top:20px; left:6px; max-width:60px; max-height:60px;" />
				<h2 style="font-weight:bold;">{{chat.name}}</h2>
				<label class="item item-input" style="padding:0 0 0 10px;">
					<input id="group-newname" type="text" placeholder="New Name" />
				</label>
				<button class="button button-block button-positive" style="margin-top:0; line-height:30px; min-height:0; height:0; border:none;">
					Block Button
				</button>
			</ion-item>
		</ion-list>
		
		<ion-list class="members-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="member in members" type="item-text-wrap" href="#/tab/group/detail/{{member._id}}">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{member.image}}&h=40&w=40" />
				<h2>{{member.displayname}}</h2>
				<p>{{member.status}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		

		
	</ion-content>
</ion-view>

<div class="bar bar-footer bar-positive">
  <div class="title" ng-click='InviteMembers()'>Invite</div> 

</div>






