<ion-view view-title="Group" cache-view="false">
	<ion-content>
	
		<div id="nav-myProfile" ng-click="viewlist('myProfile')" class="item item-button-right btn-nav">
			Profile
			<button class="button">
				<i class="icon ion-chevron-up"></i>
			</button>
		</div>

		<ion-list id="list-myProfile" class="group-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="openProfileModal()"  type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{myProfile.image}}&h=40&w=40" />
				<h2>{{myProfile.displayname}}</h2>
				<p>{{myProfile.status}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		<!-- -- -- -- -- -- -- -- -- -- -- Org group -- -- -- -- -- -- -- -- -- -- -->
		<div id="nav-orgGroups" ng-click="viewlist('orgGroups')" class="item item-button-right btn-nav">
			Organize Groups
			<button class="button">
				<i class="icon ion-chevron-up"></i>
			</button>
		</div>
		<ion-list id="list-orgGroups" class="group-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="orgGroup in orgGroups" ng-click="openOrgModal(orgGroup._id)" type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{orgGroup.image}}&h=40&w=40" />
				<h2>{{orgGroup.name}}</h2>
				<p>{{orgGroup.description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(orgGroup)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
		<!-- -- -- -- -- -- -- -- -- -- Project base group -- -- -- -- -- -- -- -- -- -- -- -->
		<div id="nav-pjbGroups" ng-click="viewlist('pjbGroups')" class="item item-button-right btn-nav">
			Project base Groups
			<button class="button">
				<i class="icon ion-chevron-up"></i>
			</button>
		</div>
		<ion-list id="list-pjbGroups" class="group-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="pjbGroup in pjbGroups" ng-click="openPjbModal(pjbGroup._id)" type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{pjbGroup.image}}&h=40&w=40" />
				<h2>{{pjbGroup.name}}</h2>
				<p>{{pjbGroup.description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(pjbGroup)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>

		<!-- -- -- -- -- -- -- -- -- -- -- Private group -- -- -- -- -- -- -- -- -- -- -->
		<div id="nav-pvGroups" ng-click="viewlist('pvGroups')" class="item item-button-right btn-nav">
			Private Groups
			<button class="button">
				<i class="icon ion-chevron-up"></i>
			</button>
		</div>
		<ion-list id="list-pvGroups" class="group-list">
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="pvGroup in pvGroups" ng-if="pvGroup.visibility === true || pvGroup.visibility === undefine"  ng-click="openPvgModal(pvGroup._id)" type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{pvGroup.image}}&h=40&w=40" />
				<h2>{{pvGroup.name}}</h2>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(pvGroup)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
		<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->
		<div id="nav-orgmembers" ng-click="viewlist('orgmembers')" class="item item-button-right btn-nav">
			Organize Members
			<button class="button">
				<i class="icon ion-chevron-up"></i>
			</button>
		</div>
		<ion-list id="list-orgmembers" class="group-list">
			<ion-item ng-repeat="chat in chats" ng-if="chat._id != myProfile._id" class="item-remove-animate item-avatar item-icon-right" ng-click="openContactModal(chat._id)" type="item-text-wrap">
				<img ng-src="http://stalk.animation-genius.com/timthumb.php?src={{chat.image}}&h=40&w=40" />
				<h2>{{chat.displayname}}</h2>
				<p>{{chat.status}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>

				<ion-option-button class="button-assertive" ng-click="remove(chat)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>
		
	</ion-content>
</ion-view>
