<ion-view view-title="Account">
	<ion-content>
		<ion-list>

			<div class="item item-button-right">
				Create Group
				<button class="button" ng-click="createType('PrivateGroup')">
					<i class="ion-android-person-add"></i>
				</button>
			</div>

			<div class="item item-button-right" ng-controller="CreateProjectBase">
				Create ProjectBase
				<button class="button" ng-click="createType('ProjectBase')">
					<i class="ion-android-person-add"></i>
				</button>
			</div>

			<div class="item item-button-right">
				Log Out
				<button class="button" onclick="server.Logout(); alert('logout'); location.href='';">
					<i class="icon ion-log-out"></i>
				</button>
			</div>

			<div class="item item-button-right">
				Refresh
				<button class="button" onclick="location.href='';">
					<i class="icon ion-log-in"></i>
				</button>
			</div>
  
		</ion-list>
	</ion-content>
</ion-view>
