<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Login Tab -->
	<ion-tab class="tabs-item-hide" hidden="true" href="#/tab/login">    
		<ion-nav-view name="tab-login"></ion-nav-view>
	</ion-tab>

	<!-- Dashboard Tab -->
	<ion-tab title="Group" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/group">
		<ion-nav-view name="tab-group"></ion-nav-view>
	</ion-tab>

	<!-- Chats Tab -->
	<ion-tab title="Chats" icon="ion-ios-chatbubble" href="#/tab/chats" badge="foo" badge-style="badge-assertive" ng-controller="bobo">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>

	<!-- Message Tab -->
	<ion-tab title="Message" hidden="true" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/message/0">
		<ion-nav-view name="tab-message"></ion-nav-view>
	</ion-tab>

	<!-- Freecall Tab -->
	<ion-tab title="Freecall" hidden="true" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/freecall/0">
		<ion-nav-view name="tab-freecall"></ion-nav-view>
	</ion-tab>

	<!-- Timeline Tab -->
	<ion-tab title="Timeline" hidden="true" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/timeline">
		<ion-nav-view name="tab-timeline"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="Option" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>


	
	
	
	<!-- Web Tab -->
	<ion-tab title="Web" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/web">
		<ion-nav-view name="tab-web"></ion-nav-view>
	</ion-tab>

</ion-tabs>
