[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
    background: #539BD1;
}

.btn-nav {
    background-color: #6AB8E4;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #FAFBFC;
    background: #539BD1;
}

.group-detail {
    text-align: center;
    background-color: #6AB8E4;
}
.tabs {
    display: flex;
    justify-content: center;
    transform: translate3d(0px, 0px, 0px);
   
    background-color:  #539BD1 ;
    background-image: linear-gradient(0deg, #B2B2B2, #B2B2B2 50%, transparent 50%);
    color: #444;
    position: absolute;
    bottom: 0px;
    z-index: 5;
    width: 100%;
    height: 49px;
    border-style: solid;
    border-top: 1px solid #B2B2B2;
    background-size: 0px auto;
    line-height: 49px;
}

ion-tabs.tabs-color-active-positive .tab-item {
    color: #FBF6F6;
    background-color:  #539BD1 ;
}

.bar-header {
    top: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    background-color:  #539BD1 ;
}